<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>
<script src="jwplayer.js"></script>
<body>

<div id="myElement">Loading the player...</div>
<script language="javascript">


var playerInstance = jwplayer("myElement");
playerInstance.setup({
    file: "http://localhost:81/futuretechlotte/file/upload/dhoom.mp4",
    width: 640,
    height: 360,
    title: 'Basic Video Embed',
    description: 'A video with a basic title and description!',
    mediaid: '123456'
});
jwplayer().onComplete( function(event) { alert('Complete!'); return true; } );
</script>
</body>
</html>
